.sign {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    width: 25%;
  }
}

@media (max-width: 400px) {
  .sign {
    .form {
      width: 65%;
    }
  }
}
