.item {
  margin-top: 5vh;
  margin-bottom: 5vh;

  .ant-card-head {
    color: #1690ff;
    font-size: 26px;
  }

  .footer {
    margin-top: 5vh;
    height: 5vh;

    .author {
      font-weight: 600;
      span {
        font-weight: normal;
      }
    }
  }
}

.comments-title {
  font-size: 17px;
  text-align: center;
}

.hover-comments {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 50% 50%;
  padding-top: 2vh;
}
