.blogs-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .blogs {
    padding-top: 15vh;
    z-index: 2;
    min-width: 45vw;
    max-width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    .write-blog-affix {
      display: block;
    }
  }
}

@media (max-width: 800px) {
  .blogs-container {
    .blogs {
      padding-top: 7vh;
      min-width: 45vw;
      max-width: 85vw;

      .write-blog-affix {
        display: none;
      }
    }
  }
}
