.header {
  position: fixed;
  z-index: 3;
  padding-left: 3vw;
  min-width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #00000017;
  box-shadow: 4px 0px 15px -3px #0000003b;
  background-color: #fff;

  .sandwhich-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .search {
    min-height: 100%;
    min-width: 35vw;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: 80% 20%;
  }
}

@media (max-width: 800px) {
  .ant-dropdown {
    position: fixed;
    left: 0;
  }
  .sandwhich-dropdown {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 3vh;
    border-bottom: 1px solid #00000017;
    box-shadow: 0px 10px 17px -8px #0000003b;
  }
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .sandwhich-menu {
      display: block;
    }

    .desktop-menu {
      display: none;
    }
  }
}
