.blog-container {
  z-index: 2;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .blog-item {
    margin-top: 15vh;
    width: 45vw;

    .ant-card-head {
      background-color: #1690ff;
      font-size: 32px;
      color: #fff;

      .blog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        p {
          margin: 0;
        }

        .blog-edit-buttons {
          font-size: 24px;

          > span {
            margin-left: 0.6rem;
            margin-right: 0.6rem;
          }

          > span:nth-of-type(2) {
            margin-right: 0;
          }

          > span:first-of-type {
            color: #ffffff;
          }

          > span:nth-of-type(2) {
            color: #ff4450;
          }

          > span:first-of-type:hover {
            color: #69d4ff;
          }

          > span:nth-of-type(2):hover {
            color: #fb1424;
          }
        }
      }
    }

    .footer {
      margin-top: 5vh;
      height: 5vh;

      .author {
        font-weight: 600;
        span {
          font-weight: normal;
        }
      }
    }
  }

  .comment-list {
    width: 35vw;

    .comment {
      border-bottom: solid 1px #0000001e;

      .ant-comment-content-author-name {
        color: #262626;
        font-size: 15px;
        font-weight: 600;
      }

      .ant-comment-actions {
        display: flex;
        justify-content: flex-end;
        li:first-of-type {
          span:hover {
            color: #1690ff;
          }
        }
        li:last-of-type {
          span:hover {
            color: #f92f3b;
          }
        }
      }
    }
  }

  .write-comment {
    margin-top: 3vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    * {
      margin-bottom: 2vh;
    }
  }
}

@media (max-width: 1300px) {
  .blog-container {
    .blog-item {
      width: 75vw;
    }

    .comment-list {
      width: 65vw;
    }
  }
}
